<div>
	<h4>1. Cash Paid Per Person</h4>
	{{bar-chart width=500 height=260 data=model plotKind="memberWisePaid"}}
	<hr>
	<h4>2. Cash Spent Per Person</h4>
	{{bar-chart width=500 height=260 data=model plotKind="memberWiseSpend"}}
</div>
